In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [31]:
data = pd.read_csv('1082591.csv',header=None,names = list(range(0,11)))

In [32]:
z=data.iloc[1:20,1:2].T
z=list(z.loc[1])
z[1]='team2'
j=0
for i in range(2,len(z)):
    if z[i]=='umpire':
        j=j+1
        if j==2:
            z[i]='umpire2'
        elif j==3:
            z[i]='umpire3'
z.append('winner_wickets')
z.append('umpire3')

In [33]:
matches = pd.DataFrame(columns=pd.Series(z))
matches

Empty DataFrame
Columns: [team, team2, gender, season, date, competition, match_number, venue, city, toss_winner, toss_decision, player_of_match, umpire, umpire2, reserve_umpire, tv_umpire, match_referee, winner, winner_runs, winner_wickets, umpire3]
Index: []

[0 rows x 21 columns]

In [34]:
import os
files = os.listdir()
len(files)

644

In [35]:
import re
cricfiles=re.findall(r'[\w]+.csv',' '.join(files))
len(cricfiles)

638

In [3]:
for i in range(len(cricfiles)):
    data = pd.read_csv(cricfiles[i],header=None,names = list(range(0,11)))
    a=data.iloc[1:20,2:3].T
    z1=data.iloc[1:20,1:2].T
    z1=list(z1.loc[1])
    z1[1]='team2'
    j=0
    k=0
    for i in range(len(z1)):
        if z1[i]=='umpire':
            j=j+1
            if j==2:
                z1[i]='umpire2'
            elif j==3:
                z1[i]='umpire3'
        if z1[i]=='date':
            k=k+1
        if k==2:
            z1[i]='date2'
    for i in range(len(z1)):
        if z1[i]=='1' or z1[i]=='2':
            c=i
            break
        else:
            c=20
    df=pd.DataFrame(columns=pd.Series(z1[0:c]))
    if c<20:
        c=c+1
    a1=data.iloc[1:c,2:3].T
    df=df.append(pd.Series(list(a1.loc[2]),index=df.columns),ignore_index=True)
    df = df.loc[:,~df.columns.duplicated()]
    matches=matches.merge(df,how='outer')

In [4]:
matches['id']=0
for i in range(1,matches.shape[0]+1):
    matches['id'][i]=i
matches.head()

In [ ]:
matches.to_csv('matches.csv')

In [36]:
a=pd.read_csv('matches.csv')

In [37]:
a.head()

,Unnamed: 0,Unnamed: 0.1,winner_wickets,umpire3,team,team2,gender,season,date,competition,...,reserve_umpire,tv_umpire,match_referee,winner,winner_runs,outcome,eliminator,date2,neutralvenue,id
0,0,0,NaN,NaN,Sunrisers Hyderabad,Royal Challengers Bangalore,male,2017,2017/04/05,Indian Premier League,...,N Pandit,A Deshmukh,J Srinath,Sunrisers Hyderabad,35.0,NaN,NaN,NaN,NaN,0
1,1,1,7.0,NaN,Rising Pune Supergiant,Mumbai Indians,male,2017,2017/04/06,Indian Premier League,...,Navdeep Singh,VK Sharma,M Nayyar,Rising Pune Supergiant,NaN,NaN,NaN,NaN,NaN,1
2,2,2,10.0,NaN,Gujarat Lions,Kolkata Knight Riders,male,2017,2017/04/07,Indian Premier League,...,K Srinivasan,YC Barde,V Narayan Kutty,Kolkata Knight Riders,NaN,NaN,NaN,NaN,NaN,2
3,3,3,6.0,NaN,Kings XI Punjab,Rising Pune Supergiant,male,2017,2017/04/08,Indian Premier League,...,R Pandit,KN Ananthapadmanabhan,Chinmay Sharma,Kings XI Punjab,NaN,NaN,NaN,NaN,NaN,3
4,4,4,NaN,NaN,Royal Challengers Bangalore,Delhi Daredevils,male,2017,2017/04/08,Indian Premier League,...,Navdeep Singh,A Nand Kishore,J Srinath,Royal Challengers Bangalore,15.0,NaN,NaN,NaN,NaN,4