### First I have installed and imported pymysql package as MySQLdb package is not yet updated for python 3 versions

In [1]:

import pymysql

In [2]:
pymysql.install_as_MySQLdb()

### Connecting to the database named as "fananalytics"

In [3]:
import os
import string

# Open database connection
db = pymysql.connect (host="localhost",port=3306,user="root",\
                      passwd="",db="fananalytics")

In [4]:
import time
import pandas as pd

### Created a table in my database named "matches" to hold all the information corresponding to match summary of all IPL matches

The matches.csv file was imported to the database using the piece of code below and all the columns of the table are also specified.

In [6]:



cursor=db.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS `fananalytics`.`matches` (`0` varchar(3), `Unnamed: 0` varchar(10), `winner_wickets` varchar(14), `umpire3` varchar(7), `team` varchar(27), `team2` varchar(27), `gender` varchar(6), `season` varchar(7), `date` varchar(10), `competition` varchar(21), `match_number` varchar(12), `venue` varchar(52), `city` varchar(14), `toss_winner` varchar(27), `toss_decision` varchar(13), `player_of_match` varchar(17), `umpire` varchar(21), `umpire2` varchar(15), `reserve_umpire` varchar(21), `tv_umpire` varchar(21), `match_referee` varchar(17), `winner` varchar(27), `winner_runs` varchar(11), `outcome` varchar(9), `eliminator` varchar(27), `date2` varchar(10), `neutralvenue` varchar(12), `id` varchar(3)) DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;")


# sql = "LOAD DATA LOCAL INFILE '{}' INTO TABLE innings FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\n' IGNORE 1 LINES;;""
load_sql = """LOAD DATA INFILE '{}'
         INTO TABLE matches
         FIELDS TERMINATED BY ','
         OPTIONALLY ENCLOSED BY '"'
         ESCAPED BY '"'
         LINES TERMINATED BY '\n'
         IGNORE 1 LINES;"""
cursor = db.cursor()
#             time.sleep(5)
cursor.execute(load_sql.format('matches.csv'))
db.commit()

### Created a table in my database named "innings" to hold information of all deliveries of the IPL matches

The innings.csv file was imported to the database using the piece of code below and all the columns of the table are also specified.

In [7]:
cursor=db.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS `fananalytics`.`innings` (`0` varchar(3), `inning` varchar(50), `over` varchar(50), `batting_team_name` varchar(50), `batsman` varchar(50), `non_striker` varchar(50), `bowler` varchar(50), `runs_off_bat` varchar(50), `Extras` varchar(50), `Kind of wicket` varchar(50), `Dismissed player` varchar(50), `match_id` varchar(10)) DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;")


# sql = "LOAD DATA LOCAL INFILE '{}' INTO TABLE innings FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED BY '"' LINES TERMINATED BY '\n' IGNORE 1 LINES;;""
load_sql = """LOAD DATA INFILE '{}'
         INTO TABLE innings
         FIELDS TERMINATED BY ','
         OPTIONALLY ENCLOSED BY '"'
         ESCAPED BY '"'
         LINES TERMINATED BY '\n'
         IGNORE 1 LINES;"""
cursor = db.cursor()
#             time.sleep(5)
cursor.execute(load_sql.format('innings.csv'))
db.commit()

C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1001")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1002")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1003")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1004")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1005")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1006")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1007")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1008")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1009")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1010")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1011")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1012")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1013")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1014")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1015")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1016")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1017")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1018")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1019")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1020")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1021")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1022")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1023")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1024")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1025")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1026")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1027")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1028")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1029")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1030")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1031")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1032")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1033")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1034")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1035")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1036")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1037")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1038")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1039")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1040")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1041")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1042")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1043")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1044")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1045")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1046")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1047")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1048")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1049")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1050")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1051")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1052")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1053")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1054")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1055")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1056")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1057")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1058")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1059")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1060")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1061")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1062")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1063")
  result = self._query(query)
C:\Users\Devansh\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column '0' at row 1064")
  result = self._query(query)

In [8]:
query = 'select * from matches'
matches = pd.read_sql_query(query, db)
matches.to_csv("matches.csv")

In [9]:
matches.head()

,0,Unnamed: 0,winner_wickets,umpire3,team,team2,gender,season,date,competition,...,reserve_umpire,tv_umpire,match_referee,winner,winner_runs,outcome,eliminator,date2,neutralvenue,id
0,0,0,,,Sunrisers Hyderabad,Royal Challengers Bangalore,male,2017,2017/04/05,Indian Premier League,...,N Pandit,A Deshmukh,J Srinath,Sunrisers Hyderabad,35.0,,,,,0\r
1,1,1,7.0,,Rising Pune Supergiant,Mumbai Indians,male,2017,2017/04/06,Indian Premier League,...,Navdeep Singh,VK Sharma,M Nayyar,Rising Pune Supergiant,,,,,,1\r
2,2,2,10.0,,Gujarat Lions,Kolkata Knight Riders,male,2017,2017/04/07,Indian Premier League,...,K Srinivasan,YC Barde,V Narayan Kutty,Kolkata Knight Riders,,,,,,2\r
3,3,3,6.0,,Kings XI Punjab,Rising Pune Supergiant,male,2017,2017/04/08,Indian Premier League,...,R Pandit,KN Ananthapadmanabhan,Chinmay Sharma,Kings XI Punjab,,,,,,3\r
4,4,4,,,Royal Challengers Bangalore,Delhi Daredevils,male,2017,2017/04/08,Indian Premier League,...,Navdeep Singh,A Nand Kishore,J Srinath,Royal Challengers Bangalore,15.0,,,,,4\r

In [10]:
query = 'select * from innings'
results = pd.read_sql_query(query, db)
results.to_csv("innings.csv")

In [11]:
results

,0,inning,over,batting_team_name,batsman,non_striker,bowler,runs_off_bat,Extras,Kind of wicket,Dismissed player,match_id
0,0,1,0.1,Sunrisers Hyderabad,DA Warner,S Dhawan,TS Mills,0.0,0.0,,,1\r
1,1,1,0.2,Sunrisers Hyderabad,DA Warner,S Dhawan,TS Mills,0.0,0.0,,,1\r
2,2,1,0.3,Sunrisers Hyderabad,DA Warner,S Dhawan,TS Mills,4.0,0.0,,,1\r
3,3,1,0.4,Sunrisers Hyderabad,DA Warner,S Dhawan,TS Mills,0.0,0.0,,,1\r
4,4,1,0.5,Sunrisers Hyderabad,DA Warner,S Dhawan,TS Mills,0.0,2.0,,,1\r
5,5,1,0.6,Sunrisers Hyderabad,S Dhawan,DA Warner,TS Mills,0.0,0.0,,,1\r
6,6,1,0.7,Sunrisers Hyderabad,S Dhawan,DA Warner,TS Mills,0.0,1.0,,,1\r
7,7,1,1.1,Sunrisers Hyderabad,S Dhawan,DA Warner,A Choudhary,1.0,0.0,,,1\r
8,8,1,1.2,Sunrisers Hyderabad,DA Warner,S Dhawan,A Choudhary,4.0,0.0,,,1\r
9,9,1,1.3,Sunrisers Hyderabad,DA Warner,S Dhawan,A Choudhary,0.0,1.0,,,1\r
10,10,1,1.4,Sunrisers Hyderabad,DA Warner,S Dhawan,A Choudhary,6.0,0.0,,,1\r
11,11,1,1.5,Sunrisers Hyderabad,DA Warner,S Dhawan,A Choudhary,0.0,0.0,caught,DA Warner,1\r
12,12,1,1.6,Sunrisers Hyderabad,MC Henriques,S Dhawan,A Choudhary,0.0,0.0,,,1\r
13,13,1,1.7,Sunrisers Hyderabad,MC Henriques,S Dhawan,A Choudhary,4.0,0.0,,,1\r
14,14,1,2.1,Sunrisers Hyderabad,S Dhawan,MC Henriques,TS Mills,1.0,0.0,,,1\r
15,15,1,2.2,Sunrisers Hyderabad,MC Henriques,S Dhawan,TS Mills,0.0,0.0,,,1\r
16,16,1,2.3,Sunrisers Hyderabad,MC Henriques,S Dhawan,TS Mills,0.0,0.0,,,1\r
17,17,1,2.4,Sunrisers Hyderabad,MC Henriques,S Dhawan,TS Mills,3.0,0.0,,,1\r
18,18,1,2.5,Sunrisers Hyderabad,S Dhawan,MC Henriques,TS Mills,1.0,0.0,,,1\r
19,19,1,2.6,Sunrisers Hyderabad,MC Henriques,S Dhawan,TS Mills,1.0,0.0,,,1\r
20,20,1,3.1,Sunrisers Hyderabad,MC Henriques,S Dhawan,YS Chahal,0.0,0.0,,,1\r
21,21,1,3.2,Sunrisers Hyderabad,MC Henriques,S Dhawan,YS Chahal,1.0,0.0,,,1\r
22,22,1,3.3,Sunrisers Hyderabad,S Dhawan,MC Henriques,YS Chahal,0.0,0.0,,,1\r
23,23,1,3.4,Sunrisers Hyderabad,S Dhawan,MC Henriques,YS Chahal,1.0,0.0,,,1\r
24,24,1,3.5,Sunrisers Hyderabad,MC Henriques,S Dhawan,YS Chahal,1.0,0.0,,,1\r
25,25,1,3.6,Sunrisers Hyderabad,S Dhawan,MC Henriques,YS Chahal,1.0,0.0,,,1\r
26,26,1,4.1,Sunrisers Hyderabad,S Dhawan,MC Henriques,S Aravind,1.0,0.0,,,1\r
27,27,1,4.2,Sunrisers Hyderabad,MC Henriques,S Dhawan,S Aravind,1.0,0.0,,,1\r
28,28,1,4.3,Sunrisers Hyderabad,S Dhawan,MC Henriques,S Aravind,1.0,0.0,,,1\r
29,29,1,4.4,Sunrisers Hyderabad,MC Henriques,S Dhawan,S Aravind,2.0,0.0,,,1\r
...,...,...,...,...,...,...,...,...,...,...,...,...
150110,150,2,15.1,Royal Challengers Bangalore,KL Rahul,SR Watson,BCJ Cutting,1.0,0.0,,,715\r
150111,150,2,15.2,Royal Challengers Bangalore,SR Watson,KL Rahul,BCJ Cutting,1.0,0.0,,,715\r
150112,150,2,15.3,Royal Challengers Bangalore,KL Rahul,SR Watson,BCJ Cutting,0.0,0.0,bowled,KL Rahul,715\r
150113,150,2,15.4,Royal Challengers Bangalore,Sachin Baby,SR Watson,BCJ Cutting,0.0,0.0,,,715\r
150114,150,2,15.5,Royal Challengers Bangalore,Sachin Baby,SR Watson,BCJ Cutting,1.0,0.0,,,715\r
150115,150,2,15.6,Royal Challengers Bangalore,SR Watson,Sachin Baby,BCJ Cutting,1.0,0.0,,,715\r
150116,150,2,16.1,Royal Challengers Bangalore,SR Watson,Sachin Baby,Mustafizur Rahman,0.0,0.0,,,715\r
150117,150,2,16.2,Royal Challengers Bangalore,SR Watson,Sachin Baby,Mustafizur Rahman,2.0,0.0,,,715\r
150118,150,2,16.3,Royal Challengers Bangalore,SR Watson,Sachin Baby,Mustafizur Rahman,0.0,0.0,caught,SR Watson,715\r
150119,150,2,16.4,Royal Challengers Bangalore,Sachin Baby,STR Binny,Mustafizur Rahman,1.0,0.0,,,715\r
150120,150,2,16.5,Royal Challengers Bangalore,STR Binny,Sachin Baby,Mustafizur Rahman,6.0,0.0,,,715\r
150121,150,2,16.6,Royal Challengers Bangalore,STR Binny,Sachin Baby,Mustafizur Rahman,1.0,0.0,,,715\r
150122,150,2,17.1,Royal Challengers Bangalore,STR Binny,Sachin Baby,B Kumar,0.0,0.0,,,715\r
150123,150,2,17.2,Royal Challengers Bangalore,STR Binny,Sachin Baby,B Kumar,1.0,0.0,,,715\r
150124,150,2,17.3,Royal Challengers Bangalore,Sachin Baby,STR Binny,B Kumar,1.0,0.0,,,715\r
150125,150,2,17.4,Royal Challengers Bangalore,STR Binny,Sachin Baby,B Kumar,0.0,0.0,,,715\r
150126,150,2,17.5,Royal Challengers Bangalore,STR Binny,Sachin Baby,B Kumar,0.0,1.0,,,715\r
150127,150,2,17.6,Royal Challengers Bangalore,Sachin Baby,STR Binny,B Kumar,4.0,0.0,,,715\r
150128,150,2,18.1,Royal Challengers Bangalore,STR Binny,Sachin Baby,Mustafizur Rahman,1.0,0.0,run out,STR Binny,715\r
150129,150,2,18.2,Royal Challengers Bangalore,CJ Jordan,Sachin Baby,Mustafizur Rahman,2.0,0.0,,,715\r
150130,150,2,18.3,Royal Challengers Bangalore,CJ Jordan,Sachin Baby,Mustafizur Rahman,0.0,0.0,,,715\r
150131,150,2,18.4,Royal Challengers Bangalore,CJ Jordan,Sachin Baby,Mustafizur Rahman,0.0,1.0,,,715\r
150132,150,2,18.5,Royal Challengers Bangalore,Sachin Baby,CJ Jordan,Mustafizur Rahman,2.0,0.0,,,715\r
150133,150,2,18.6,Royal Challengers Bangalore,Sachin Baby,CJ Jordan,Mustafizur Rahman,6.0,0.0,,,715\r
150134,150,2,19.1,Royal Challengers Bangalore,CJ Jordan,Sachin Baby,B Kumar,1.0,0.0,,,715\r
150135,150,2,19.2,Royal Challengers Bangalore,Sachin Baby,CJ Jordan,B Kumar,2.0,0.0,,,715\r
150136,150,2,19.3,Royal Challengers Bangalore,Sachin Baby,CJ Jordan,B Kumar,0.0,0.0,run out,CJ Jordan,715\r
150137,150,2,19.4,Royal Challengers Bangalore,Iqbal Abdulla,Sachin Baby,B Kumar,0.0,1.0,,,715\r
150138,150,2,19.5,Royal Challengers Bangalore,Sachin Baby,Iqbal Abdulla,B Kumar,1.0,0.0,,,715\r
150139,150,2,19.6,Royal Challengers Bangalore,Iqbal Abdulla,Sachin Baby,B Kumar,4.0,0.0,,,715\r